<!-- <div class="container-fluid">
    <div class="row">
        <div class="container-fluid" style="padding:0px">
            <img src="../../assets/Header_image.jpg" alt="NA" style="width:100%">
        </div>
    </div>  
</div> -->

<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel" style="height: 28vh;">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="../../../assets/images/carousal_image3.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="../../../assets/images/carousal_image2.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="../../../assets/images/carousal_image4.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="../../../assets/images/carousal_image1.jpg" class="d-block w-100" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev" hidden>
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next" hidden>
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  
  </div>
