
<footer>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6" style="background-color: #54B435; color: 141E61;">

                <div class="options-left" style="display: flex; margin:20px; float: left;">
                    <ul>
                        <h3>Reach Us at: </h3>
                        <li style="margin-left: 2px;line-height: 30px;list-style: none;"><a href="#" style="text-decoration: none;color: #141E61;">> eMigrate Help Desk  </a></li>
                        <li style="margin-left: 2px;line-height: 30px;list-style: none;"><a href="#" style="text-decoration: none;color: #141E61">> Email: helpdesk@emigrate.gov.in  </a></li>
                        <li style="margin-left: 2px;line-height: 30px;list-style: none;"><a href="#" style="text-decoration: none;color: #141E61;">> Phone: +91-11-2688-5021 </a></li>

                    </ul>
                </div>

            </div>

            <div class="col-md-6" style="background-color: #54B435; color: 141E61;">

                <div class="options-right" style="display: flex; margin:20px;float: left;">
                    <div class="top" style="margin-right: 50px;">
                        <ul>
                            <h3> PBSK Helpline:</h3>
                            <li style="margin-left: 20px;"><a href="#" style="text-decoration: none;color: #141E61;"> >Phone: +91-11-2688-5021 </a></li>
                            <li style="margin-left: 20px;"><a href="#" style="text-decoration: none;color: #141E61;">>Phone: 1800113090 (Toll Free) </a></li>
                            <li style="margin-left: 20px;"><a href="#" style="text-decoration: none;color: #141E61;"> >Whatsapp: +917428321144 </a></li>
                            <li style="margin-left: 20px;"><a href="#" style="text-decoration: none;color: #141E61;"> >Email: helpline@mea.gov.in </a></li>

                        </ul>

                    </div>

                </div>

            </div>

        </div>
        <div class="row">
            <div class="col-md-12" style="background-color: #0F044C; color: 141E61;">
                <div class="copyright" style="display: flex;">
                    <div class="col-md-4">
                        <a style="float: left; margin-left: 20px;color: white;text-decoration: none;font-weight: 600;" >Copyright © 2022 ABCD. All Rights Reserved</a>
                    </div>
                    <div class="col-md-4">
                        
                    </div>
                    <div class="col-md-4">
                        <a  id="footer-element"  href="#" style="color: white;">Terms of Service | Privacy Policy</a>
                    </div>
                    
                    
                </div>
            </div>
        </div>
    </div>
</footer>
