
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Static</title>
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">    

</head>

<body>
    
        <nav class="navbar navbar-expand-md navbar-light "
            style="background-color: #FCF9BE;font-weight: bold;height: 8vh;">
            <div class="container-fluid " style="padding:0%">
                <a class="navbar-brand" routerLink="/"><i class="fa fa-home" id="home-icon" aria-hidden="true"></i></a>
                
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
           
                        <li class="nav-item dropdown">
                            <a class="nav-link  active" href="#" id="navbarDropdown" role="button"
                                 aria-expanded="false">
                                Home
                            </a>
                            
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link  active" href="#" id="navbarDropdown" role="button"
                                 aria-expanded="false">
                                About Us
                            </a>
                            
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle active"  id="navbarDropdown" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false" >
                                Registration
                            </a>
                            <ul class="dropdown-menu" id="dditems" aria-labelledby="navbarDropdown" >
                                <li><a class="dropdown-item" routerLink="/baleRegistration" (click)="passValue('All')" >Bale Registration</a>
                                </li>
                                <li><a class="dropdown-item" routerLink="/userRegistration" (click)="passValue('Pending')" >User Registration</a>
                                </li>
                                
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link  active" routerLink="/list" id="navbarDropdown" role="button"
                                 aria-expanded="false">
                                 List of Bales
                                
                            </a>
                            
                        </li>
                       
                       
                        <li>
                            <a class="nav-link active" (click)="logoutUser()" id="navbarDropdown" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false" *ngIf="loggedIn" >
                                Logout
                            </a>
                            
                        </li>

                        <li>
                            <a class="nav-link active" (click)="logoutUser()" id="navbarDropdown" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false" *ngIf="!loggedIn" >
                                Login
                            </a>
                            
                        </li>
                   
                    </ul>
                    
                </div>
            </div>
        </nav>
   




    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script>
        
        // function smallMenu() {
        //     document.getElementById('small-menu').style.display = 'block';
        //     document.getElementById('small-menu').style.marginLeft='300px';
        //     document.getElementById('small-menu').style.marginTop='0px';
        // }
        // function show() {
        //     document.getElementById('dditems').style.display = 'block';
        // }
        // function hide() {
        //     document.getElementById('dditems').style.display = 'none';
        // }
        function decreaseFontSize() {
            document.querySelector('.heading1').style.fontSize = "30px";
            document.querySelector('.para1').style.fontSize = "18px";
            document.querySelector('.heading2').style.fontSize = "30px";
            document.querySelector('.para2').style.fontSize = "18px";
            document.querySelector('.heading3').style.fontSize = "30px";
            document.querySelector('.para3').style.fontSize = "18px";
        }
        function actualFontSize() {
            document.querySelector('.heading1').style.fontSize = "42px";
            document.querySelector('.para1').style.fontSize = "21px";
            document.querySelector('.heading2').style.fontSize = "42px";
            document.querySelector('.para2').style.fontSize = "21px";
            document.querySelector('.heading3').style.fontSize = "42px";
            document.querySelector('.para3').style.fontSize = "21px";
        }
        function increaseFontSize() {
            document.querySelector('.heading1').style.fontSize = "50px";
            document.querySelector('.para1').style.fontSize = "25px";
            document.querySelector('.heading2').style.fontSize = "50px";
            document.querySelector('.para2').style.fontSize = "25px";
            document.querySelector('.heading3').style.fontSize = "50px";
            document.querySelector('.para3').style.fontSize = "25px";
           
        }


        //Get the button
        var mybutton = document.getElementById("myBtn");

        // When the user scrolls down 20px from the top of the document, show the button
        window.onscroll = function () { scrollFunction() };

        function scrollFunction() {
            if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                mybutton.style.display = "block";
            } else {
                mybutton.style.display = "none";
            }
        }

        // When the user clicks on the button, scroll to the top of the document
        function topFunction() {
            document.body.scrollTop = 0;
            document.documentElement.scrollTop = 0;
        }
    </script>
    
</body>

</html>
