
<div class="row">
    <div class="container-fluid" style="padding:0px">
        <img src="../../../assets/images/header_image.png" alt="NA" style="width:100%;height:20vh">
    </div>
</div> 
<br>
<br>
<div class="text-center" style="position:center">
    <qr-code [value]="dataToString" ></qr-code>
    
</div>