<!-- <header></header> -->
<!-- <navbar></navbar> -->
<div class="row">
    <div class="container-fluid" style="padding:0px">
        <img src="../../../assets/images/header_image.png" alt="NA" style="width:100%;height:20vh">
    </div>
</div> 
<div class="container card col-md-12 alternative">
    <h2 style="text-align: center; margin-bottom: 20px; margin-top: 20px;"> CBIS Form</h2>
    <form [formGroup]="cbisForm" (ngSubmit)="onSubmit()" >

        <!-- branchName -->
        <div class="form-group row">
            <label for="inputEmail3" class="col-sm-2 col-form-label">Branch Name</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" id="branchName" name="branchName" formControlName = "branchName">
            </div>
        </div> <br>

        <!--  centerName -->
        <div class="form-group row">
            <label for="inputEmail3" class="col-sm-2 col-form-label">Center Name</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" id="centerName" formControlName = "centerName" name="centerName">
            </div>
        </div> <br>

        <!--Crop Year-->
        <div class="form-group row">
            <label for="inputEmail3" class="col-sm-2 col-form-label">Crop Year</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" id="cropYear" formControlName = "cropYear" name="cropYear">
            </div>
        </div> <br>

        <!-- ginner Name -->
        <div class="form-group row">
            <label for="inputEmail3" class="col-sm-2 col-form-label">Ginner Name</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" id="ginnerName" formControlName = "ginnerName" name="ginnerName">
            </div>
        </div> <br>

        <!--  Address-->
        <div class="form-group row">
            <label for="inputEmail3" class="col-sm-2 col-form-label">Address</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" id="address" formControlName = "address" name="address">
            </div>
        </div> <br>

        <!-- Variety Name -->
        <div class="form-group row">
            <label for="inputEmail3" class="col-sm-2 col-form-label"> Variety</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" id="varity" formControlName = "varity" name="varity">
            </div>
        </div> <br>

        <!-- Lot Number -->
        <div class="form-group row">
            <label for="inputEmail3" class="col-sm-2 col-form-label">Lot Number</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" id="lotNo" formControlName = "lotNo" name="lotNo" >
            </div>
        </div> <br>


        <!-- Press Weight  -->
        <div class="form-group row">
            <label for="inputEmail3" class="col-sm-2 col-form-label">Press Weight</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" id="pressWeight" formControlName = "pressWeight" name="pressWeight" >
            </div>
        </div> <br>

        

        <!-- Press Running Number -->
        <div class="form-group row">
            <label for="inputEmail3" class="col-sm-2 col-form-label">Press Running Number</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" id="pressRunningNum" formControlName = "pressRunningNum" name="pressRunningNum" >
            </div>
        </div> <br>

        <!-- Press Machine Number -->
        <div class="form-group row">
            <label for="inputEmail3" class="col-sm-2 col-form-label">Press Machine Number</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" id="pressMachineNumber" formControlName = "pressMachineNumber" name="pressMachineNumber">
            </div>
        </div> <br>


        <!-- CCIHeapNo Number -->
        <div class="form-group row">
            <label for="inputEmail3" class="col-sm-2 col-form-label">CCIHeapNo Number</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" id="cciheapNo" formControlName = "cciheapNo" name="cciheapNo">
            </div>
        </div> <br>

         <!-- CCIHeapNo date -->
         <div class="form-group row">
            <label for="inputEmail3" class="col-sm-2 col-form-label">CCIHeap DATE</label>
            <div class="col-sm-8">
              <input type="date" class="form-control" id="cciheapDate" formControlName = "cciheapDate" name="cciheapDate">
            </div>
        </div> <br>


        <!-- 2 column grid layout for inline styling -->
        <div class="text-center" >
            <div class="col d-flex justify-content-center">
                <!-- Checkbox -->
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="form2Example31" checked />
                    <label class="form-check-label" for="form2Example31"> Remember me </label>
                </div>
            </div>
           
            <br />
            <!-- <p>{{credentials | json }}</p> -->

            <div class="col">
                <!-- Simple link -->
                <a href="#!">Forgot password?</a>
            </div>
        </div>

        <!-- Submit button -->
        <div class="text-center">
            <button type="submit" class="btn btn-primary btn-block mb-4">Login</button>
        </div>

        <!-- Register buttons -->
        <div class="text-center">
            <p>Not a member? <a routerLink="/registrationFrom">Register</a></p>
            <p>or sign up with:</p>
            <button type="button" class="btn btn-link btn-floating mx-1">
                <i class="fab fa-facebook-f"></i>
            </button>

            <button type="button" class="btn btn-link btn-floating mx-1">
                <i class="fab fa-google"></i>
            </button>

            <button type="button" class="btn btn-link btn-floating mx-1">
                <i class="fab fa-twitter"></i>
            </button>

            <button type="button" class="btn btn-link btn-floating mx-1">
                <i class="fab fa-github"></i>
            </button>
        </div>
    </form>
</div>
