<style>
    table, th, td {  
  border: 1px solid black;  
  border-collapse: collapse;  
}  
th, td {  
  padding: 10px;  
}   
</style>

<div class="row">
    <div class="container-fluid" style="padding:0px">
        <img src="../../../assets/images/header_image.png" alt="NA" style="width:100%;height:20vh">
    </div>
</div> 
<br>    
<div class="container-fluid">
    <div class="row" style="padding-left:300px">

        <form (ngSubmit)="onSubmit()">
            <div class="col-9 mt-5 shadow p-3 mb-5 bg-gray">
        <table>
            <tr><th>Data</th><th>Values</th></tr>  
            <tr><td>Bale Number</td><td>{{data.uuid}}</td></tr> 
            <tr><td>Branch Name</td><td>{{data.branchName}}</td></tr> 
            <tr><td>Center Name</td><td>{{data.centerName}}</td></tr> 
            <tr><td>Crop Year</td><td>{{data.cropYear}}</td></tr> 
            <tr><td>Ginner Name</td><td>{{data.ginnerName}}</td></tr> 
            <tr><td>Address</td><td>{{data.address}}</td></tr> 
            <tr><td>Variety</td><td>{{data.varity}}</td></tr>  
            <tr><td>Lot Number</td><td>{{data.lotNo}}</td></tr>  
            <tr><td>divressWeight</td><td>{{data.pressWeight}}</td></tr>  
            <tr><td>PressRunningNum</td><td>{{data.pressRunningNum}}</td></tr>  
            <tr><td>PressMachineNumber</td><td>{{data.pressMachineNumber}}</td></tr>  
            <tr><td>CCIHeapNo</td><td>{{data.cciheapNo}}</td></tr>  
            <tr><td>CCIHeapDate</td><td>{{data.cciheapDate}}</td></tr>  

        </table>
    </div>
    </form>
    </div>

</div>
